Package: com.yulkytulky.youtubebgplayback
Name: YoutubeBGPlayback
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Background Playback for YouTube
Maintainer: YulkyTulky
Author: YulkyTulky
Section: Tweaks
